<h1>Hello Users</h1>

<ul>
   <% @users.each do |user| %>
   <li><%= user.email %></li>
   <% end %>
</ul>

<ul>
   <% @property_owners.each do |property_owner| %>
   <li><%= property_owner.email %></li>
   <% end %>
</ul>

<ul>
   <% @tenants.each do |tenant| %>
   <li><%= tenant.email %></li>
   <% end %>
</ul>
