<style>
	.sub_nav
	{
		float: right;
	}
</style>
<div class="container">
<% if current_user %>
	<%= link_to "Log Out", user_logged_out_path, :class => "sub_nav" %>
<% else %>
	<%= link_to "Sign up", new_user_sign_up_path %>
<% end %>
</div>
<div style="clear: both"></div>
